:root {
  --accent-color: #dc56c5;
  --main-text-color: #ffffff;
  --main-bg-color: #0e0e0e;
  --search-bg-color: rgba(255, 255, 255, 0.2);
  --search-text-color: #cccccc;
  --footer-text: #939393;
  --modal-bg-color: #fff2fd;
  --modal-text-color: #0e0e0e;
  --btn-bg-color: #4c00fe;
  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
