<div class="container search">
  <form class="search__form" autocomplete="off">
    <label class="search__label input__icon--search">
      <input
        class="search__input in-focus js-search-input"
        type="text"
        name="search"
        placeholder="Start searching"
      />
    </label>
    <div class="search__label input__icon--arrow">
      <button type="button" class="search__select search__input">
        Choose country
      </button>
      <ul class="search__list">
        <li class="search__option" data-value=" ">All countries</li>
        <li class="search__option" data-value="US">United States Of America</li>
        <li class="search__option" data-value="AD">Andorra</li>
        <li class="search__option" data-value="AI">Anguilla</li>
        <li class="search__option" data-value="AR">Argentina</li>
        <li class="search__option" data-value="AU">Australia</li>
        <li class="search__option" data-value="AT">Austria</li>
        <li class="search__option" data-value="AZ">Azerbaijan</li>
        <li class="search__option" data-value="BS">Bahamas</li>
        <li class="search__option" data-value="BH">Bahrain</li>
        <li class="search__option" data-value="BB">Barbados</li>
        <li class="search__option" data-value="BE">Belgium</li>
        <li class="search__option" data-value="BM">Bermuda</li>
        <li class="search__option" data-value="BR">Brazil</li>
        <li class="search__option" data-value="BG">Bulgaria</li>
        <li class="search__option" data-value="CA">Canada</li>
        <li class="search__option" data-value="CL">Chile</li>
        <li class="search__option" data-value="CN">China</li>
        <li class="search__option" data-value="CO">Colombia</li>
        <li class="search__option" data-value="CR">Costa Rica</li>
        <li class="search__option" data-value="HR">Croatia</li>
        <li class="search__option" data-value="CY">Cyprus</li>
        <li class="search__option" data-value="CZ">Czech Republic</li>
        <li class="search__option" data-value="DK">Denmark</li>
        <li class="search__option" data-value="DO">Dominican Republic</li>
        <li class="search__option" data-value="EC">Ecuador</li>
        <li class="search__option" data-value="EE">Estonia</li>
        <li class="search__option" data-value="FO">Faroe Islands</li>
        <li class="search__option" data-value="FI">Finland</li>
        <li class="search__option" data-value="FR">France</li>
        <li class="search__option" data-value="GE">Georgia</li>
        <li class="search__option" data-value="DE">Germany</li>
        <li class="search__option" data-value="GH">Ghana</li>
        <li class="search__option" data-value="GI">Gibraltar</li>
        <li class="search__option" data-value="GB">Great Britain</li>
        <li class="search__option" data-value="GR">Greece</li>
        <li class="search__option" data-value="HK">Hong Kong</li>
        <li class="search__option" data-value="HU">Hungary</li>
        <li class="search__option" data-value="IS">Iceland</li>
        <li class="search__option" data-value="IN">India</li>
        <li class="search__option" data-value="IE">Ireland</li>
        <li class="search__option" data-value="IL">Israel</li>
        <li class="search__option" data-value="IT">Italy</li>
        <li class="search__option" data-value="JM">Jamaica</li>
        <li class="search__option" data-value="JP">Japan</li>
        <li class="search__option" data-value="KR">Korea, Republic of</li>
        <li class="search__option" data-value="LV">Latvia</li>
        <li class="search__option" data-value="LB">Lebanon</li>
        <li class="search__option" data-value="LT">Lithuania</li>
        <li class="search__option" data-value="LU">Luxembourg</li>
        <li class="search__option" data-value="MY">Malaysia</li>
        <li class="search__option" data-value="MT">Malta</li>
        <li class="search__option" data-value="MX">Mexico</li>
        <li class="search__option" data-value="MC">Monaco</li>
        <li class="search__option" data-value="ME">Montenegro</li>
        <li class="search__option" data-value="MA">Morocco</li>
        <li class="search__option" data-value="NL">Netherlands</li>
        <li class="search__option" data-value="AN">Netherlands Antilles</li>
        <li class="search__option" data-value="NZ">New Zealand</li>
        <li class="search__option" data-value="ND">Northern Ireland</li>
        <li class="search__option" data-value="NO">Norway</li>
        <li class="search__option" data-value="PE">Peru</li>
        <li class="search__option" data-value="PL">Poland</li>
        <li class="search__option" data-value="PT">Portugal</li>
        <li class="search__option" data-value="RO">Romania</li>
        <li class="search__option" data-value="RU">Russian Federation</li>
        <li class="search__option" data-value="LC">Saint Lucia</li>
        <li class="search__option" data-value="SA">Saudi Arabia</li>
        <li class="search__option" data-value="RS">Serbia</li>
        <li class="search__option" data-value="SG">Singapore</li>
        <li class="search__option" data-value="SK">Slovakia</li>
        <li class="search__option" data-value="SI">Slovenia</li>
        <li class="search__option" data-value="ZA">South Africa</li>
        <li class="search__option" data-value="ES">Spain</li>
        <li class="search__option" data-value="SE">Sweden</li>
        <li class="search__option" data-value="CH">Switzerland</li>
        <li class="search__option" data-value="TW">Taiwan</li>
        <li class="search__option" data-value="TH">Thailand</li>
        <li class="search__option" data-value="TT">Trinidad and Tobago</li>
        <li class="search__option" data-value="TR">Turkey</li>
        <li class="search__option" data-value="UA">Ukraine</li>
        <li class="search__option" data-value="AE">United Arab Emirates</li>
        <li class="search__option" data-value="UY">Uruguay</li>
        <li class="search__option" data-value="VE">Venezuela</li>
      </ul>
      <input
        class="option__input--hidden"
        type="text"
        name="countryId"
        value=""
      />
    </div>
  </form>
</div>

<script type="module" src="./js/select.js"></script>
