<div class="backdrop js-backdrop visually-hidden">
  <div class="team-modal decoration__animation">
    <button class="modal-button"></button>
    <h2 class="team__title">Developed with by GoIT Students</h2>

    <ul class="team__list">
      <li class="team__card">
        <img
          class="team__card-image"
          src="./images/team-img/LiliaFaizulina.png"
          alt="developer"
          width="267"
          height="267"
        />
        <div class="card__decoration"></div>
        <div class="team__tumb">
          <h3 class="team__name-dev">Lilia Faizulina</h3>
          <p class="team__descr">Frontend Developer</p>

          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__icon"
                href="https://github.com/LiliyaFaizulina/"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_gitHub"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.linkedin.com/in/%D0%BB%D1%96%D0%BB%D1%96%D1%8F-%D1%84%D0%B0%D0%B9%D0%B7%D1%83%D0%BB%D1%96%D0%BD%D0%B0-58771824b/"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__card">
        <img
          class="team__card-image"
          src="./images/team-img/YevheniiBiloshapka.png"
          alt="developer"
          width="267"
          height="267"
        />
        <div class="card__decoration"></div>
        <div class="team__tumb">
          <h3 class="team__name-dev">Yevhenii Biloshapka</h3>
          <p class="team__descr">Frontend Developer</p>

          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__icon"
                href="https://github.com/YevheniiBiloshapka"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_gitHub"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.linkedin.com/in/yevhenii-biloshapka/"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.facebook.com/Biloshapka.Yevhenii/"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card">
        <img
          class="team__card-image"
          src="./images/team-img/MargaritaChigrinets.png"
          alt="developer"
          width="267"
          height="267"
        />
        <div class="card__decoration"></div>
        <div class="team__tumb">
          <h3 class="team__name-dev">Margarita Chigrinets</h3>
          <p class="team__descr">Frontend Developer</p>

          <ul class="social__list">
            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_gitHub"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card">
        <img
          class="team__card-image"
          src="./images/team-img/ValentinaZnaida.png"
          alt="developer"
          width="267"
          height="267"
        />
        <div class="card__decoration"></div>
        <div class="team__tumb">
          <h3 class="team__name-dev">Valentina Znaida</h3>
          <p class="team__descr">Frontend Developer</p>

          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__icon"
                href="https://github.com/ZVA-23"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_gitHub"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.linkedin.com/in/valentina-znayda-3bb5a4190/"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.facebook.com/profile.php?id=100001811143932"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__card">
        <img
          class="team__card-image"
          src="./images/team-img/AndreySopelnyak.png"
          alt="developer"
          width="267"
          height="267"
        />
        <div class="card__decoration"></div>
        <div class="team__tumb">
          <h3 class="team__name-dev">Andrii Sopelniak</h3>
          <p class="team__descr">Frontend Developer</p>

          <ul class="social__list">
            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_gitHub"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__icon" href="#" target="_blank">
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__card">
        <img
          class="team__card-image"
          src="./images/team-img/SemyonLikarchuk.png"
          alt="developer"
          width="267"
          height="267"
        />
        <div class="card__decoration"></div>
        <div class="team__tumb">
          <h3 class="team__name-dev">Simon Likarchuk</h3>
          <p class="team__descr">Frontend Developer</p>

          <ul class="social__list">
            <li class="social__item">
              <a
                class="social__icon"
                href="https://github.com/BigSiCorp"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_gitHub"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.linkedin.com/in/semen-likarchuk-925180aa"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a
                class="social__icon"
                href="https://www.facebook.com/profile.php?id=100009196243107"
                target="_blank"
              >
                <svg width="20" height="20">
                  <use href="./images/svg/sprite.svg#ic_facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
